modules = ["web", "nodejs-20", "nix"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
